{% extends "learning_logs/base.html" %}

{% block content %}

    <p><strong> Topic: {{topic.text}} </strong></p>
    <p>Entry: </p>
    
    <p> 
        <a href="{% url "learning_logs:create_entry" topic.id %}">Add new entry </a>
    </p>

    {% for entry in entries %}
        <p>{{entry.date_added|date:'M d, Y H:i'}}
        <p>{{entry.text|linebreaks}}</p>
     <a href="{% url "learning_logs:edit_entry" entry.id %}">Edit Entry</a>
    {%empty%}
    <p>Opps! no entry made for this topic.</p>
    {% endfor %}
{% endblock content %}